# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Streamlit cache
.streamlit/

# Ignore logs and temp files
*.log
*.tmp
.DS_Store

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Hugging Face Spaces build files
output.log
*.lock
hf_cache/
